@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dotnet 6 world</h1>
    <p><b>Author: Mitra Baldev</b></p>
    <hr />
    
</div>
